body,html{
  background-color: black;
  overflow-x: hidden;
  font-family: 'Merriweather', serif;
  font-style: normal;
}
.navbar{
  background-color: transparent !important;
  color: white;
}
.navmain{
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  z-index: 1;

}
.altarnavbar{
  background: black;
  padding: 2% 5%;



}
.main{
  position: relative;
  width: 100%;
  height: 100vh;
  border: black solid 3px;
}
.mountains{
  background-image: url(../images/mountain.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99vh;
  background-position:10%;
  background-size: cover;
}

.clouds{
  position: absolute;
  background-image: url('../images/clouds.png');
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  animation: cloudsanimate linear infinite 120s;
}
.logo{
  max-width: 50%;
  margin: 0;
   position: absolute;
   top: 45%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   border-radius: 10px;
}
.logoheading{
  position: absolute;
  color: #d5def5;
  bottom: 0;
  left: 50%;
  width: auto;
  font-size: 1rem;
  transform: translate(-50%);
  border:2px solid white;
  padding: 4px;
  border-radius: 8px
}
.content{
  background-image: linear-gradient(to right, #051937, #002844, #00374c, #004551, #085353);
}

@keyframes cloudsanimate {
  0%{
    background-position: 0px;
  }
  100%{
    background-position: 4000px;
  }
}

@media (min-width:992px) {
  .logo{
    max-width: 35%;
  }
  .logoheading{
    font-size: 1.3rem;
  }

.altarnavbar{
  background:  transparent !important;
  justify-content: end;

}
.navmain{
  padding-left:55px;
  padding-right: 25px;
}
}
