html, body {
  overflow-x: hidden;
  font-family: 'Merriweather', serif;
  font-style: normal;
  background: black;
}
/* NavBar */
.navbaralter {
  background-color: transparent !important;
  color: white !important;
}
.navbaralter.scrolled {
  background-color: black !important;
  transition: background-color 200ms linear;
}
.alternavbar.black {
  background-color: black !important;
}
/* Mountain+Logo */
.top-section {
  position: relative;
}
.mountains {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height:100vh;
  background-size: cover;
  align-items: center;
  background-position: 50%;
  text-align: center;
}
.logoimage {
  top: 0;
  left: 0;
  position: absolute;
  right: 0;
  align-items:center;
  margin-top: 13%;
  margin-left: 8%;
  text-align: center;
  display: block;
}
.logoimg {
  text-align: center;
  width: 40%;
  border-radius: 1.00rem;
}
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(../images/clouds.png);
  animation: animate 120s linear infinite;
}
.middle-section {
  background: white;
  padding-top: 5%;
  padding-bottom: 7%;
}
.heading {
  font-family: 'Spectral', serif;
  font-weight: 700;
  font-size: 2.5rem;
  /* color: #D0E8F2; */
  color: #211C51;
}
/* Features Section */
.features {
  position: relative;
  padding: 2% 2% 5% 2%;
  /* background:  #203239; */
  background: rgb(2, 0, 36);
  /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(120, 12, 128, 1) 58%, rgba(53, 11, 107, 1) 99%); */
  background: linear-gradient(to right,#0f2027 0%,#203a43 60%,#2c5364 99%);
  overflow: visible;
  z-index: 1;
}
.featuresheading {
  color: #FFF9F9;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.7rem;
}
/* where the magic happens */
.features:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(2deg);
}
.card {
  margin: 5% 4%;
  background: #F5F5F5;
  border-radius: 2rem;
}
@media (max-width: 500px) {
  .logoimg {
    text-align: center;
    width: 80%;
    top: 10;
    border-radius: 0.5rem;
    margin-top: 1%;
  }
  .logoimage {
    margin-top: 48%;
    margin-left: 2%;
  }
}
@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 4000px;
  }
}
